{% extends "base.html" %}

{% block title %}Downloader{% endblock %}

{% block content %}
<div class="container mt-4" style="width: 80%;">
    <h1>Schema Downloader</h1>
    </br>
<h4>Select a schema and download all the configuration files.</h4>
<p>Also, you can create and edit schemas using the <a href="{% url 'admin:index' %}">Admin Views</a>.</p>
    </br>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <select class="form-control" id="schemaSelector" name="schema">
                <option value="" disabled selected>Select Schema</option>
                {% for schema in schemas %}
                    <option value="{{ schema.pk }}">{{ schema.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="row mt-3">
            <div class="col-3">
                <button type="submit" name="action" value="schema_definitions" class="btn btn-primary btn-block">Schema Definitions</a>
            </div>
            <div class="col-3">
                <button type="submit" name="action" value="federations" class="btn btn-primary disabled btn-block">Federations (WIP)</a>
            </div>
            <div class="col-3">
                <button type="submit" name="action" value="policies" class="btn btn-primary disabled btn-block">Policies (WIP)</a>
            </div>
            <div class="col-3">
                <button type="submit" name="action" value="shovels" class="btn btn-primary disabled btn-block">Shovels (WIP)</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
